html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    color: #ffffff;
    list-style-type: none;
}

body{
    background-color: #111;
    /* -webkit-text-stroke: .5px #000000; */
    font-family: "Optima", "sans-serif";
}

#header{
    text-align: center;
    background: top center fixed url(images/music2.jpg) #030914 no-repeat;
    width: auto;
}

#nav{
    width: auto;
    height: 75px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 0 75px;
    border-bottom: #ffffff80 solid 4px;
}
#nav h3{
    margin-left: 15px;
    font-size: 40px;
}
#nav ul{
    margin-right: -10px;
    display: flex;
}
#nav ul li{
    margin-right:  25px;
    list-style-type: none;
}
#nav a{
    font-weight: bold;
    -webkit-text-stroke: 1px #030914;
    text-decoration: none;
    font-size: 30px;
}

#title{
    display: flex;
    height: 700px;
}
#title #start{
    flex-grow: 1;
}
#title ul{
    list-style-type: none;
    flex-grow: 1;
}
#title #end{
    flex-grow: 4;
}


#title li:first-child{
    font-size: 75px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: #ffffff80 solid 4px;
    margin: 100px 0 0 0;
}
#title li:last-child{
    font-size: 40px;
}


#content{
    border-top: #ffffff80 solid 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 20px;
}
#content li{
    background: url(images/darkBack.jpeg);
    flex-grow: 1;
    display: flex;
    height: 400px;
}


#content li div{
}
#content li .description{
    margin: 40px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content li .image{
    width: 400px;
    min-width: 400px;
}


#content li .description h1{
    font-size: 40px;
    margin-bottom: 10px;
}
#content li .description p{
    font-size: 20px;
}

#content li:nth-child(1) .image{
    background: url(images/saxophone.jpeg);
    background-size: 400px 400px;
}
#content li:nth-child(2) .image{
    background: url(images/piano.jpeg);
    background-size: 400px 400px;
}
#content li:nth-child(3) .image{
    background: url(images/drums.jpeg);
    background-size: 400px 400px;
}
/* Sometimes I find doing nth-child
a bunch easier than doing first,
then the nths, then the last, so
that's what I did here */